form.homeForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 300px;
    align-items: stretch;
    width: 100%;
}

form.homeForm input {
    height: 35px;
    margin-bottom: 5px;
    border: 1px solid #e1e1e1;
    padding: 5px;
    border-radius: 2px;
    background: #575757;
    font-size: 14px;
    width: 100%;
}

form.homeForm textarea {
    margin-bottom: 5px;
    border: 1px solid #e1e1e1;
    padding: 5px;
    border-radius: 2px;
    background: #575757;
    color: rgb(245, 245, 245);
    font-size: 14px;
    width: 100%;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(245, 245, 245);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder,
:-ms-textarea-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(245, 245, 245);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(245, 245, 245);
}

.footerHolder div {
    padding: 10px;
    margin-bottom: 20px;
}

form.homeForm input.Submit {
    width: fit-content;
    background-color: #323337;
    border: none;
    color: white;
    text-transform: uppercase;
}