@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Signika:wght@300;400;500;600;700&display=swap');

@media screen and (prefers-color-scheme: dark) {
  :root {
    --primary-color: #ffffff;
    --font-color: #d8d8d8;
    --bg-color: #101010;
  }
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --primary-color: #323337;
    --font-color: #555;
    --bg-color: #fff;
  }
}


* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  color: var(--primary-color);
  line-height: 1.5;
}

a {
  color: var(--primary-color);
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Signika', sans-serif;
  line-height: 1.2;
}

img {
  width: 100%;
  /* or max-width: 100%; */
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: inside;
}

div#root {
  padding-left: 30px;
  padding-right: 30px;
}

/* LOADING */

.loading {
  color: transparent !important;
  min-height: 0.8rem;
  pointer-events: none;
  position: relative;
}

.loading::after {
  animation: loading 0.5s infinite linear;
  background: 0 0;
  border: 0.1rem solid var(--bg-color);
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 0.8rem;
  left: 50%;
  margin-left: -0.4rem;
  margin-top: -0.4rem;
  opacity: 1;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 0.8rem;
  z-index: 1;
}

.loading.loading-lg {
  min-height: 80vh;
}

.loading.loading-lg::after {
  height: 1.6rem;
  margin-left: -0.8rem;
  margin-top: -0.8rem;
  width: 1.6rem;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 1080px) {}


@media only screen and (max-width: 700px) {
  div#root {
    padding-left: 20px;
    padding-right: 20px;
  }
}