div#M_Over {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    opacity: 1;
    border-radius: 50%;
}

div#M_Over:hover {
    opacity: 0;
}

div#Ori_Img {
    border-radius: 50%;
}

.container_X {
    text-align: center;
    margin-bottom: 15px;
    position: relative;
}

.circle {
    background-size: cover;
    background-position: center center;
    color: rgb(255, 255, 255);
    height: 250px;
    cursor: crosshair;
    width: 250px;
}

.Title {
    line-height: 1;
    margin-bottom: 5px;
    font-weight: 600;
    text-align: center;
}

.SubTitle {
    line-height: 1;
    opacity: 0.8;
    margin-bottom: 15px;
    text-align: center;
}

.row_people {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.col_people {
    padding: 10px;
}

.Years {
    position: absolute;
    z-index: 1;
    background-color: #db4949;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    top: -22px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    line-height: 1;
    display: flex;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.Years:hover {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}

@media only screen and (max-width: 500px) {}