.accordion {
    overflow: hidden;
}

.accordion input:checked~.accordion-header>.icon:first-child,
.accordion[open] .accordion-header>.icon:first-child {
    transform: rotate(180deg);
}

.accordion input:checked~.accordion-body,
.accordion[open] .accordion-body {
    max-height: 50rem;
}

.accordion .accordion-header {
    display: flex;
    padding: 10px;
    text-align: right;
    font-size: 500%;
    font-weight: bolder;
    text-transform: uppercase;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.accordion .accordion-header .icon {
    transition: transform 0.25s;
}

.accordion .accordion-body {
    margin-bottom: 0.4rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s;
}

summary.accordion-header::-webkit-details-marker {
    display: none;
}

/* ICONS */
.icon {
    box-sizing: border-box;
    display: inline-block;
    font-size: inherit;
    font-style: normal;
    height: 1em;
    position: relative;
    text-indent: -9999px;
    vertical-align: middle;
    width: 1em;
}

.icon::after,
.icon::before {
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}



.icon-arrow-down::before,
.icon-arrow-down-white::before {
    transform: translate(-50%, -75%) rotate(225deg);
}

.icon-arrow-down::before {
    border: 0.3rem solid white;
    border-bottom: 0;
    border-right: 0;
    height: 0.45em;
    width: 0.45em;
}

.icon-arrow-down-white::before {
    border: 0.3rem solid #323337;
    border-bottom: 0;
    border-right: 0;
    height: 0.45em;
    width: 0.45em;
}

svg#mpa-icon {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

a.contact-us-link {
    color: #323337 !important;
    border: 1px solid #323337 !important;
}

/*  */

.Half-Block {
    width: 50%;
    padding: 30px;
    margin-right: 80px;
}

.accordion-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.Seperater {
    margin-top: 30px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Seperater a {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 20px;
    text-transform: uppercase;
}

@media only screen and (max-width: 700px) {
    .accordion .accordion-header {
        font-size: 40px;
    }

    .Half-Block {
        width: 100%;
        padding: 30px;
        margin-right: 0;
    }

    svg#mpa-icon {
        width: 48px;
        height: 48px;
        margin-right: 15px;
    }
}